.history-table
{
	overflow-x: hidden !important;
}

.history-container
{
	width: 70vw;
	padding: 100px;
	box-sizing: border-box;
}

.tableIcon
{
	width: 20px;
	height: 20px;
}

.dropdown
{
	cursor: pointer;
}

#card-history
{
}

#card-history > .title
{
	color: black!important;
}

#card-history > .descr
{
	width: 80%;
	text-align: center;
	margin-top: 20px;
	font-size: 1.1vw;
}
