
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

html
{
	scroll-behavior: smooth;
}

body
{
	/*background-color: red;*/
	border: 0px;
	margin: 0px;
	overflow-x: hidden;
}

/* Slides API */

.slides
{
	margin-top: 105px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}
.slides > img
{
	width: 100%;
}
.slides > button
{
	margin-top: 40px;
	background-color: #fc5246;
	outline: none;
	border: 0px;
	padding: 10px 50px;
	box-sizing: border-box;
	border-radius: 25px;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 16px;
	margin-right: 20px;
	color: white;
	cursor: pointer;
	transition: background-color 1s;
}

.slides-controller
{
	position: absolute;
	right: 0px;
	top: calc(((750 * 100vw) / 2048) * 0.224 + 105px - 46px);
	width: calc(46px * 3);
	height: 46px;
	background-color: #fc5246;
	display: flex;
	justify-content: left;
	align-items: center;
	z-index: 10;
}

.slides-controller > a
{
	text-decoration: none;
	width: 46px;
	height: 46px;
	padding: 12px;
	box-sizing: border-box;
}

.slides-controller > a > img
{
	width: 24px;
	height: 24px;
}

/* Wrapper API */

.wrapper
{
	margin-top: 50px;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.wrapper > .card
{
	width: 50vw;
	height: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Arial';

	background-size: 100%;
	background-position: center center;
	transition: background-size 0.5s ease;
}

.wrapper > .card > .alt-title
{
	font-weight: bold;
	color: black;
	font-size: 2.2vw;
	text-shadow: 1px 1px #3d3d3d;
}

.wrapper > .card > .alt-subtitle
{
	font-weight: bold;
	color: black;
	font-size: 2vw;
	text-shadow: 1px 1px #3d3d3d;
}

.wrapper > .card > .title
{
	font-weight: bold;
	color: white;
	font-size: 2.2vw;
	text-shadow: 1px 1px #3d3d3d;
}

.wrapper > .card > .sub-title
{
	color: white;
	font-size: 1vw;
	text-shadow: 1px 1px #3d3d3d;
	margin-top: 8px;
}

.wrapper > .card > button
{
	margin-top: 40px;
	background-color: #fc5246;
	outline: none;
	border: 0px;
	padding: 10px 50px;
	box-sizing: border-box;
	border-radius: 25px;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 16px;
	margin-right: 20px;
	color: white;
	cursor: pointer;
	transition: background-color 1s;
}

.slides > button:hover,
#card-search > .search-box > button:hover,
.wrapper > .card > button:hover
{
	background-color: #ff7171;
}



.wrapper > .card > .downloads > a > img
{
	margin-top: 40px;
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
}

#card-menu
{
	background-image: url("../../public/main3.jpg");
	background-size: 100%;
	background-position: center center;
	transition: background-size 0.5s ease;
}

#card-menu:hover
{
	background-size: 110%;
}

#card-team
{
	background-image: url("../../public/main2.jpg");
	background-size: 100%;
	background-position: center center;
	transition: background-size 0.5s ease;
}

#card-team:hover
{
	background-size: 110%;
}

#card-apps
{
	background-color: #f74539;
}


#card-search > .search-box
{
	display: flex;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
}
#card-search > .search-box > .search-bar
{

	display: flex;
	justify-content: center;
	align-items: center;
}

#card-search > .search-box > .search-bar > .pict
{
	width: 30px;
	height: 30px;
	padding: 3px 4px;
	box-sizing: border-box;
	border-bottom: 4px solid #f74539;
}

#card-search > .search-box > .search-bar > .pict > img
{
	width: 22px;
	height: 24px;
}

#card-search > .search-box > .search-bar > select
{
	width: 20vw;
	height: 30px;
	border: 0px solid transparent;
	background-color: white; border-bottom: 4px solid #f74539;
	outline: none;
	font-family: 'Arial';
	font-size: 14px;
}

#card-search > .search-box > button
{
	margin-left: 40px;
	background-color: #fc5246;
	outline: none;
	border: 0px;
	padding: 10px 50px;
	box-sizing: border-box;
	border-radius: 25px;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 16px;
	margin-right: 20px;
	color: white;
	cursor: pointer;
	transition: background-color 1s;
}

.bottom-nav
{
	padding: 50px 30px;
	box-sizing: border-box;
	background-color: #fc5246;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-nav > a
{
	text-decoration: none;
	font-family: 'Arial';
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-right: 60px;
	text-shadow: 1px 1px #3d3d3d;
}

.footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Arial';
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #f74539;
	color: white;
}

.footer > div > a
{
	text-decoration: none;
	margin-left: 10px;
	color: white;
}

.sub-menu
{
	position: fixed;
	top: 105px;
	left: 0px;
	padding: 20px;
	box-sizing: border-box;
	font-family: 'Arial';
	color: black;
	font-size: 14px;
	background-color: white;
	border-radius: 0 0 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999999999;
	cursor: pointer;
	box-shadow: 5px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.sub-menu > img
{
	filter: invert(100%);
	width: 15px;
	height: 15px;
	margin-right: 10px;
}